* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    background: 0 0;
    font-size: 15px;
    color: #adadad;
  }
  input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote {
    quotes: none;
  }
  blockquote:after,
  blockquote:before {
    content: "";
    content: none;
  }
  del {
    text-decoration: line-through;
  }
  address,
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }
  body {
    font-family: "gordita_regular";
    font-size: 17px;
    overflow-x: hidden;
    min-width: 320px;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  input,
  select,
  textarea {
    font-family: "gordita_regular";
  }
  html {
    overflow: scroll !important;
    scroll-behavior: smooth !important;
  }
  html.modal-enabled {
    overflow: hidden !important;
  }
  a {
    color: #444;
  }
  .submit:hover,
  a:hover {
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
  }
  .thumb {
    display: block;
  }
  .thumb img {
    display: block;
    width: 100%;
  }
  p {
    line-height: 1.6em;
    font-size: 16px;
    color: #868686;
    font-family: gordita_regular;
  }
  .hidden {
    display: none;
  }
  br.clear {
    clear: both;
    line-height: 0;
  }
  .bold {
    font-family: gordita_medium;
  }
  .e-t-h {
    margin-bottom: 25px;
  }
  .e-t-h2 {
    font-size: 37px;
    color: #444;
    font-family: gordita_medium;
    letter-spacing: 0.02rem;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1325px;
  }
  .b-regular {
    font-family: gordita_regular;
  }
  .b-medium {
    font-family: gordita_regular;
  }
  .b-semi {
    font-family: gordita_regular;
  }
  .white {
    color: #fff;
  }
  .black {
    color: #000;
  }
  a,
  h1,
  h2,
  input {
    font-family: gordita_regular;
    color: #000;
    font-weight: 300;
  }
  input::-webkit-input-placeholder {
    color: #9b9a9a;
  }
  input:-moz-placeholder {
    color: #9b9a9a;
  }
  